/* mobile */
/* @media (max-width : 767px) {
} */
/* Small screens */
@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}
/* Medium screen */
@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}
/* Large screen */
@media (min-width : 1200px) {
    .container {
        width: 90%;
    }
}
:root {
    --maincolor : #10cab7 ;
}
html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.contact {
background-color: #eee;
width: 100%;
margin: auto;
}
.contact .container {
margin: auto;
/* width: 90%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center; */
padding-bottom: 60px;
}
.contact .container .intro {
display: flex;
flex-direction: column;
padding: 20px 30px;
justify-content: space-around;
align-items: center;
}
.contact .container .intro h2 ,
.contact .container .intro p{
margin: auto;
text-align: center;
}
.contact .container .intro h2 {
font-size: 60px;
font-weight: 600;
padding: 10px 20px 25px 20px;
border-bottom: 2px solid #183153;
color: #183153;
}
.contact .container .intro p {
color: #1b3c69;
padding: 30px 30px 50px 30px;
}
.contact .container .middle ,
.contact .container .down {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: #183153 2px solid;
    border-radius: 30px;
    margin-bottom: 30px ;
}
.contact .container .middle .pack ,
.contact .container .down .pack{
    padding: 20px;
}
.contact .container .down .pack {
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.contact .container .middle .pack:first-child {
    margin-bottom: 30px;
    border-bottom: 1px #183153 solid;
    padding-bottom: 30px;
}
.contact .container .middle .pack h3 ,
.contact .container .down h3{
    font-size: 35px;
    font-weight: 600;
    color: #183153;
    margin-bottom: 60px;
}
.contact .container .middle .pack p:first-of-type a {
    text-decoration: none;
    font-weight: bold;
    color: #183153;
}
.contact .container .middle .pack p:first-of-type a:hover {
    text-decoration: underline;
    color: #1b3c69;
}
.contact .container .middle .pack p:last-child {
    margin-top: 70px;
    margin-bottom: 30px;
}
.contact .container .middle .pack p:last-child a {
    padding: 15px;
    background-color: #183153;
    color: white;
    font-size: 26px;
    font-weight: bold;
    border: 2px #FFF solid;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.2s;
}
.contact .container .middle .pack p:last-child a:hover {
    background-color: #10cab7;
}



.footer {
    background-color: #183153;
    width: 100%;
}
.footer .container {
    margin: auto;
    width: 70%;
    padding: 30px 20px;
}
.footer .container .socials {
    display: flex;
    justify-content: center;
    margin: auto;
}
.footer .container .socials i {
    font-size: 40px;
    color: #0a9f90;
    font-weight: 700;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 50px;
}
.footer .container .socials i:hover {
    color: #10cab7;
    cursor: pointer;
}
.footer .container .one {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .container .one a {
    color: #0a9f90;
    font-size: 16px;
    margin: 30px 15px;
}
.footer .container .one a:hover {
    color: #10cab7;
    cursor: pointer;
}
.footer .container p {
    text-align: center;
    color: #0a9f90;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width : 767px) {
    .contact .container .pack {
        text-align: center;
    }
    .contact .container .middle ,
    .contact .container .down {
        margin-left: 20px;
        margin-right: 20px;
    }
} 
